{
  font-family: "Roboto", sans-serif;
}
body{
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #white;
}
.logo{
  width: 100px;
  height: 100px;
}
.content{
  margin-top: 100px;
}
input {
  border: none;
  width: 90%;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  background-color: #d8d3dc;
  color: black;
  margin-bottom: 10px;
}
#calculate{
  border: none;
  cursor: pointer;
  width: 90%;
  height: 40px;
  background-color: #b5dda4;
  border-radius: 10px;
  margin-top: 10px;
}
#calculate:hover{
  opacity: 0.9;
}
.switch-for{
  cursor: pointer;
  font-size: 16px;
  line-height: 25px;
  position: relative;
}
.switch-for::after{
  content: "";
  width: 50px;
  height: 25px;
  background-color: #b5dea4;
  border: 1px solid #000;
  border-radius: 15px;
  position: absolute;
  top: -4px;
  right: -62px;
}
.switch-for::before{
  content: "";
  width: 21px;
  height: 21px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: -35px;
  top: -1px;
  transition:all 0.2s;
  z-index: 1;
}
.switch{
  display: none;
}
.switch:checked + .switch-for::before {
  right: -58px;
}
