{
  font-family: "Roboto", sans-serif;
}
body{
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #white;
}
.logo{
  width: 100px;
  height: 100px;
}
.content{
  margin-top: 100px;
}
input{
  border: none;
  width: 90%;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  background-color: #ECE9E6;
  color: black;
  margin-bottom: 10px;
}
#calculate{
  border: none;
  cursor: pointer;
  width: auto;
  height: 30px;
  background-color: #8e9eab;
  border-radius: 10px;
  margin-top: 10px;
}
#calculate:hover{
  opacity: 0.9;
}
